

.TB-panel{
    display: inline-flex;

    align-items: center;
    
    transition: transform 100ms linear;
    cursor: pointer;
    user-select: none; /* Standard */
    overflow: hidden;
    pointer-events: all;
   
}

.TB-label{
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
 width: 100%;

   
}

.topRight{
    position: absolute;
    top: -22px;
    right: -22px;
}

.shadow{
    box-shadow: 2px 2px 10px #dadde0,
    -2px -2px 10px #ffffff;
  }