.img-uploader-panel {
  z-index: 1;
  background: #ecf0f3;
overflow: hidden;
  width: 100%;
  background-color: none !important;
  text-align: center;
  border-radius: 10px;
  margin: auto;
  
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25),
    0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
}

.IU-separator {
  width: 15%;
  display: inline-block;
  clear: none;
  position: relative;
  top: 0.7em;
}

.alternate-upload {
  width: 100%;
}

.url-input-wrapper {
  position: relative;
  width: 100%;
  display: inline-flex;
  align-items: center;
  text-align: center;
}

.url-input-field {
  width: 100%;
  transition: all 200ms;
}

.url-validation-wrapper {
  max-width: 40%;
  display: inline-block;
  transition: all 200ms;
}

.url-input-wrapper-closed {
  max-width: 0%;

  transition: all 200ms;
  overflow: hidden;
}

.img-upload-wrapper {
  width: 100%;

  transition: all 200ms;
}

.select-img-button {
  width: 100%;
  justify-content: center;
  align-items: center;

  display: inline-flex;
  border-radius: 50px;
  transition: background-color 200ms linear;
}

.select-img-button:hover {
  background-color: #e9ecef !important;
  transition: background-color 200ms linear;
}

.submit-url-button {
  float: right;
}
